html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

.n-collapse .n-collapse-item .n-collapse-item__content-wrapper .n-collapse-item__content-inner {
  padding: 0px 4px 0px 2px;
}

.n-collapse .n-collapse-item .n-collapse-item {
  margin: 0px 0px 0px 2px;
}

.n-collapse .n-collapse-item .n-collapse-item .n-collapse-item__content-wrapper {
  padding: 0px 0px 0px 14px;
}

.n-divider:not(.n-divider--vertical) {
  margin: 8px 0px;
}